/* nav */
.nav-link {
  color: var(--bs-white) !important;
  transition: all 0.3s;
}
.nav-link:hover {
  color: #999 !important;
}
.navbar-media {
  display: none;
}
@media (max-width: 992px) {
  .nav-media {
    background-color: var(--primary) !important;
    opacity: 1 !important;
  }
  .nav-link {
    padding: 0 !important;
  }
  .navbar-media {
    display: block;
    color: var(--bs-white);
    background-color: transparent;
    border: transparent;
    padding: 0.1rem 0;
  }
  .navbar-toggler:focus {
    box-shadow: transparent !important;
  }
}

@media (max-width: 575.98px) {
  .navbar-brand {
    padding-bottom: 0 !important;
  }
}

/* hero */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: var(--white-ligth);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: -1;
}
.hero-p {
  backface-visibility: hidden;
  text-transform: uppercase;
  font-weight: 900;
}
.link-secondary {
  color: var(--bs-white);
}
/* Button Float */
.btn-flotante {
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: 500; /* Fuente en negrita o bold */
  color: var(--bs-white) !important; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  background-color: var(--primary) !important; /* Color de fondo */
  position: fixed;
  bottom: 40px;
  transition: all 300ms ease 0ms !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99 !important;
}
.btn-position:nth-last-of-type(1) {
  right: 40px;
}
.btn-position:nth-last-of-type(2) {
  right: 100px;
}
.btn-flotante:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  color: var(--text-primary) !important;
  transform: translateY(-4px);
}
@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
@media (max-width: 575.98px) {
  .nuSpace {
    padding-top: 3rem;
  }
}
/* footer */
.footer-h5 {
}
