/* nav */
.nav-img {
  width: 96px;
  height: auto;
}
.nav-link {
  color: var(--bs-white);
  transition: all 0.3s;
}
.nav-link:hover {
  color: var(--secondary);
}
/* hero */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: var(--white-ligth);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7) !important;
  z-index: -1;
}
.hero-p {
  backface-visibility: hidden;
}
.link-secondary {
  color: var(--bs-white);
}


/* footer */
.footer-h5 {
}
